/* Comenatrio CSS */
/* Este é um arquivo de CSS externo */

body {
    background-color: #30302e;
    color: #ffffff;
    font-family: "Segoe UI";
    /* espaço interno */
    padding: 20px;
    /* Entrelinhamento (leading) */
    line-height: 1.6;
}


h1 {
    color: #8cc9e4;
    font-size: 32px;
    text-align: center;
    /* borda inferior */
    border-bottom: 3px solid #8cc9e4;
    /* espacamento inferior */
    padding-bottom: 15px;
}

/* Div com classe */
div.container {
    background-color: #3a3a38;
    padding: 20px;
    border-radius: 10px;
    /* margin: 20px 50px 100px 200px; */
    margin: 10px 0;


}

/* Div com ID */
div#exemplo{
    border: 2px solid #8cc9e4;
    padding: 15px;
    margin-top: 20px;

}

/* O efeito de Hover é aplicado quando o mouse passa sobre um elemento */
button#btnHover{
    width: 300px;
    height: 60px;
    border: 4px solid #8cc9e4;
    background-color: #3a3a38;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    /* controlando as transições */
    transition: all 0.3s ease;

}

 button#btnHover:hover {
    background-color: #8cc9e4;
    transform: scale(0.9);
 }